<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/admin/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/admin/vendor/themify-icons/themify-icons.min.css">
    <link href="css/admin/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="css/admin/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="css/admin/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <link href="css/admin/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet"
        media="screen">
    <link href="css/admin/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="css/admin/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet"
        media="screen">
    <link href="css/admin/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/admin/styles.css">
    <link rel="stylesheet" href="css/admin/plugins.css">
    <link rel="stylesheet" href="css/admin/themes/theme-1.css" id="skin_color" />
    <title>Document</title>
</head>

<body>
    <div id="app">	
        <%-include('./partials/admin/sidebar'); %>
            <div class="app-content">
                <%-include('./partials/admin/header'); %>
                
            <!-- end: TOP NAVBAR -->
            <div class="main-content">
                <%if (message && check===0){ %>
                    <h4 class="alert alert-danger mt-3">
                        <%=message %>
                    </h4>
                    <% }else if (message && check===1){ %>
                        <h4 class="alert alert-success mt-3">
                            <%=message %>
                        <% } %>
                <div class="wrap-content container" id="container">
                    <!-- start: PAGE TITLE -->
                    <section id="page-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="mainTitle">Admin | Add Doctor</h1>
                            </div>
                            <ol class="breadcrumb">
                                <li>
                                    <span>Admin</span>
                                </li>
                                <li class="active">
                                    <span>Add Doctor</span>
                                </li>
                            </ol>
                        </div>
                    </section>
                    <!-- end: PAGE TITLE -->
                    <!-- start: BASIC EXAMPLE -->
                    <div class="container-fluid container-fullw bg-white">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row margin-top-30">
                                    <div class="col-lg-8 col-md-12">
                                        <div class="panel panel-white">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Add Doctor</h5>
                                            </div>
                                            <div class="panel-body">

                                                <form role="form" name="adddoc" method="post" action="/adminAddDoctor">
                                                    <div class="form-group">
                                                        <label for="DoctorSpecialization">
                                                            Doctor Specialization
                                                        </label>
                                                        <select name="Doctorspecialization" class="form-control"
                                                            required="true">
                                                            <option value="">Select Specialization</option>
                                                            <% message_1.forEach(function (specilization) { %>
                                                                <option value="<%=specilization.specilization%>">
                                                                    <%= specilization.specilization%>
                                                                </option>
                                                                <% }) %>

                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="doctorname">
                                                            Doctor Name
                                                        </label>
                                                        <input type="text" name="docname" class="form-control"
                                                            placeholder="Enter Doctor Name" required="true">
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="address">
                                                            Doctor Clinic Address
                                                        </label>
                                                        <textarea name="clinicaddress" class="form-control"
                                                            placeholder="Enter Doctor Clinic Address"
                                                            required="true"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fess">
                                                            Doctor Consultancy Fees
                                                        </label>
                                                        <input type="text" name="docfees" class="form-control"
                                                            placeholder="Enter Doctor Consultancy Fees" required="true">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fess">
                                                            Doctor Contact no
                                                        </label>
                                                        <input type="text" name="doccontact" class="form-control"
                                                            placeholder="Enter Doctor Contact no" required="true">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fess">
                                                            Doctor Email
                                                        </label>
                                                        <input type="email" id="docemail" name="docemail"
                                                            class="form-control" placeholder="Enter Doctor Email id"
                                                            required="true">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">
                                                            Password
                                                        </label>
                                                        <input type="password" name="npass" class="form-control"
                                                            placeholder="New Password" required="required">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputPassword2">
                                                            Confirm Password
                                                        </label>
                                                        <input type="password" name="cfpass" class="form-control"
                                                            placeholder="Confirm Password" required="required">
                                                    </div>
                                                    <button type="submit" name="submit" id="submit"
                                                        class="btn btn-o btn-primary">
                                                        Submit
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="panel panel-white">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%-include('./partials/footer'); %>
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="css/admin/vendor/jquery/jquery.min.js"></script>
    <script src="css/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/admin/vendor/modernizr/modernizr.js"></script>
    <script src="css/admin/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="css/admin/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="css/admin/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="css/admin/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="css/admin/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="css/admin/vendor/autosize/autosize.min.js"></script>
    <script src="css/admin/vendor/selectFx/classie.js"></script>
    <script src="css/admin/vendor/selectFx/selectFx.js"></script>
    <script src="css/admin/vendor/select2/select2.min.js"></script>
    <script src="css/admin/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="css/admin/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="js/admin/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="js/admin/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            FormElements.init();
        });
    </script>
</body>

</html>